<h6>ADVERTISMENT</h6>
<hr>
<section class="path"> FORBES > LEADERSHIP > CAREERS </section>
<hr>
<div class="mainSection">
    <h1> CAREERS <hr> </h1>

    <div class="leftSection">
        <a href="" class="upButtons"> Editor's Picks </a> <a href="" style="margin-left: 10%;" class="upButtons"> Latest </a><br>
        <p class="prim">PERMIUM</p>
        <a href=""><b class="Ancar-title">Why Applications To Historically Black Colleges Are Surging</b></a>
        <p class="by"> By <a href="">Asia Alexander</a> Forbes Staff </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href=""><b class="Ancar-title">Are You Quiet Vacationing This 4th Of July?</b> </a>
        <p class="by"> By <a href=""> Maria Gracia Santillana Linares</a> Forbes Staff </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href=""><b class="Ancar-title" >7 Top Employee Benefits To Boost Productivity, According To Science</b></a>
        <p class="by"> By <a href="">Jandra SuttonContributor</a> Contributor </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href=""> <b class="Ancar-title">7 Steps To Rectify The Troubling Trend Of ‘Quiet Vacationing’ Versus Taking PTO</b></a>
        <p class="by"> By <a href="">Bryan Robinson</a> Ph.D.Contributor </p>
        <hr>

        <p class="prim">PERMIUM</p>
        <a href=""><b class="Ancar-title">How Color Can Improve Connection And Reinvigorate The Workplace</b></a>
        <p class="by"> By <a href="">Ryan Anderson</a> Contributor </p>
        <hr>
    </div>

    <div class="midSection">
        <img class= "img1" [src]="bodyImageURL"><br><br>
        <a href=""><b class="Ancar-title">Reentering The Workforce? 7 Ways To Combat Self-Doubt</b></a>
        <p class="by"> By <a href=""> Michael Abbott </a>Contributor</p>
        <p class="discription"> Self-doubt is a problem that vexes most job seekers, not just those transitioning back to employment after a gap. Other people have their own issues – you do you.
        </p>
    </div>

    <table>
        <tr>
            <td>
                <img class ="img2" [src]="Teamake" ><br>
                <a href=""><b class="Ancar-title"> Transitioning Careers? 5 Ideas To Find A Low-Stress Job In The Meantime </b></a>
                <p class="by"> By <a href="">David Parker</a> Contributor</p>
            </td>
            <td>
                <img class="img2" [src]="Netflix"><br>
                <a href=""><b class="Ancar-title">How To Cope And Thrive In A Challenging Corporate Culture, Like Netflix</b></a>
                <p class="by"> By <a href="">Nina Bambysheva</a> Forbes Staff</p>
            </td>
            <td>
                <img class= "img2" [src]="friends"><br>
                <a href="" ><b class="Ancar-title"> Pursuing Multiple Job Leads? 4 Negotiation Mistakes To Avoid</b></a>
                <p class="by"> By <a href="">Frank Sorrentino</a> Contributor</p>
            </td>
        </tr>
    </table>
</div>
